*{
   padding:0;
}

body{
    font-family: "calibri light";
}
.contenedor{
    background: tomato;
    widht: 80%;
    margin: auto;
}
header{
    background: blue;
    height:100px;
}
main{
    background: yellow;
}
footer{
    background:teal;
}

*{
    padding: 0;
    margin: 0;

}
header{
    height:400px;
    background-image: url("../img/portada.jpg");
    background-position: center;
    background-size: cover;
}